extends layoutVillage
block content
    if isVillageOwner
        div
            h1(class='text-light') Barracks
            p(class='text-light') You are the village owner.
            form(action='/job', method='POST', autocomplete='off')
                input(type='hidden', name='jobType', value='recruit')
                input(type='hidden', name='requesterName', value=village.owner)
                input(type='hidden', name='requesterVillage', value=village.id)
                div(class='form-group row')
                    label(class='text-light col-sm') Axemen
                    label(class='text-light col-sm')=village.troops.inVillage.axe
                    input(type='number', class='col-sm', name='axe')
                div(class='form-group row')
                    label(class='text-light col-sm') Swordsmen
                    label(class='text-light col-sm')=village.troops.inVillage.sword
                    input(type='number', class='col-sm', name='sword')
                div(class='form-group')
                    button(type='submit', class='btn btn-primary pull-right') Recruit
    else
        h1(class='text-light')=village.name
        table(class='table text-light')
            thead
                tr
                    th(scope='col') Owner
                    th(scope='col') Name
                    th(scope='col') Coords
            tbody
                tr
                    th(scope='row')=village.owner
                    th
                        a(href='/villages/'+village.id) #{village.name}
                    td #{village.coords.x}, #{village.coords.y}